.dimmer {
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120vw;
    height: 120vh;
    
    transition: 0.3s;
}

.dimmer-active {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px) saturate(85%);
    pointer-events: visible;
    transition: 0.3s;
}
